.footer {
  background-color: black;
  color: white;
  padding: 2rem;
  text-align: center;
  font-family: "Poppins", sans-serif; /* Apply Poppins font for the section */
}
.social-icons a {
  margin: 0 1rem;
  color: gold;
  font-size: 1.5rem;
}